{
.appVersion = "3223";
.formatVersion = 3;
customParameters = (
{
name = glyphOrder;
value = (
smilingFaceWithOpenMouth,
smilingFaceWithOpenMouthAndSmilingEyes,
smilingFaceWithOpenMouthAndColdSweat,
faceWithTearsOfJoy,
slightlySmilingFace,
upsideDownFace,
u1FAE0,
winkingFace,
smilingFaceWithHeartShapedEyes,
grinningFaceWithStarEyes,
faceThrowingAKiss,
grinningfacewithonelargeandoneeye,
faceWithStuckOutTongueAndTightlyClosedEyes,
moneyMouthFace,
byeFace,
palmFace,
peekFace,
thumbUpFace,
zipperMouthFace,
neutralFace,
expressionlessFace,
u1FAE5,
smirkingFace,
squintSmilingFace,
faceWithOpenMouth_zerowidthjoiner_dashSymbol,
questionFace,
largeQuestionFace,
faceEatingMelon,
sleepingFace,
faceWithMedicalMask,
faceWithHeadBandage,
faceWithOpenMouthVomiting,
dizzyFace,
shockedFaceWithExplodingHead,
faceSplit,
faceWithPartyHornAndPartyHat,
nerdFace,
u1FAE4,
slightlyFrowningFace,
astonishedFace,
faceWithPleadingEyes,
loudlyCryingFace,
faceScreamingInFear,
faceWithColdSweat,
cursingFace,
skull,
pileOfPoo,
ghost,
extraterrestrialAlien,
alienMonster,
robotFace,
robot,
doge,
raisedBackOfHand,
raisedHand,
okHandSign,
victoryHand,
whiteLeftBackhandIndex,
whiteRightBackhandIndex,
whiteUpBackhandIndex,
whiteDownBackhandIndex,
thumbsUpSign,
fistedHandSign,
clappingHandsSign,
handshake,
personWithFoldedHands,
fistPalmSalute,
writingHand,
eye,
mouth,
boy,
girl,
adult,
faceWithNoGoodGesture,
faceWithOkGesture,
informationDeskPerson,
happyPersonRaisingOneHand,
shrug,
dogFace,
catFace,
tigerFace,
horseFace,
cowFace,
pigFace,
rabbitFace,
bird,
swan,
javaSparrowWhite,
javaSparrowSilver,
frogFace,
turtle,
fish,
octopus,
crab,
bug,
spider,
microbe,
cherryBlossom,
rose,
wiltedFlower,
hibiscus,
sunflower,
seedling,
pottedPlant,
evergreenTree,
deciduousTree,
palmTree,
herb,
shamrock,
fourLeafClover,
grapes,
watermelon,
tangerine,
lemon,
banana,
pineapple,
mango,
redApple,
pear,
peach,
cherries,
strawberry,
tomato,
coconut,
carrot,
leafyGreen,
onion,
mushroom,
chestnut,
bread,
poultryLeg,
hamburger,
sliceOfPizza,
sandwich,
cookedRice,
steamingBowl,
roastedSweetPotato,
softIceCream,
cookie,
birthdayCake,
shortcake,
hotBeverage,
wineGlass,
beerMug,
cupWithStraw,
milkPackage,
forkAndKnife,
fork,
hocho,
u1FAD9,
earthGlobeAsiaAustralia,
globeMeridians,
snowCappedMountain,
mountain,
volcano,
desertIsland,
buildingConstruction,
houseBuildings,
houseBuilding,
factory,
shintoShrine,
tent,
ferrisWheel,
steamLocomotive,
railwayCar,
highSpeedTrain,
train,
metro,
lightRail,
bus,
bus.alt,
trolleybus,
automobile,
deliveryTruck,
anchor,
ship,
airplane,
helicopter,
suspensionRailway,
satellite,
rocket,
flyingSaucer,
hourglass,
hourglassWithFlowingSand,
watch,
alarmClock,
stopwatch,
clock,
newMoonSymbol,
waxingCrescentMoonSymbol,
firstQuarterMoonSymbol,
waxingGibbousMoonSymbol,
fullMoonSymbol,
waningGibbousMoonSymbol,
lastQuarterMoonSymbol,
waningCrescentMoonSymbol,
crescentMoon,
thermometer,
blackSunWithRays,
whiteMediumStar,
glowingStar,
cloud,
umbrella,
umbrellaOnGround,
highVoltageSign,
snowflake,
fire,
droplet,
christmasTree,
sparkles,
balloon,
partyPopper,
confettiBall,
ribbon,
wrappedPresent,
trophy,
podium,
kite,
magicWand,
videoGame,
joystick,
slotMachine,
gameDie,
dieFace1,
dieFace2,
dieFace3,
dieFace4,
dieFace5,
dieFace6,
jigsawPuzzlePiece,
jigsawPuzzle,
blackJokerCards,
artistPalette,
brush,
eyeglasses,
tShirt,
jeans,
dress,
shorts,
highHeeledShoe,
womansBoots,
crown,
womansHat,
topHat,
graduationCap,
billedCap,
gemStone,
speakerWithCancellationStroke,
speaker,
speakerWithOneSoundWave,
speakerWithThreeSoundWaves,
publicAddressLoudspeaker,
bell,
bellWithCancellationStroke,
musicalScore,
musicalNote,
multipleMusicalNotes,
microphone,
headphone,
saxophone,
accordion,
guitar,
musicalKeyboard,
trumpet,
violin,
banjo,
drumWithDrumsticks,
mobilePhone,
mobilePhone.alt,
mobilePhone.alt2,
pager,
battery,
u1FAAB,
personalComputer,
desktopComputer,
keyboard,
twoButtonMouse,
threeButtonMouse,
threeButtonMouse.alt,
threeNetworkedComputers,
floppyDisk,
opticalDisc,
movieCamera,
filmFrames,
clapperBoard,
television,
camera,
moneyBag,
moneyBag.cny,
moneyBag.eur,
moneyBag.frf,
moneyBag.gbp,
moneyBag.usd,
envelope,
love,
closedMailboxRaisedFlag,
closedMailboxLoweredFlag,
openMailboxRaisedFlag,
openMailboxLoweredFlag,
pencil,
memo,
addressBook,
briefcase,
fileFolder,
calendar,
calendar.alt,
clipboard,
pushpin,
roundPushpin,
paperclip,
straightRuler,
triangularRuler,
blackScissors,
fileCabinet,
lock,
openLock,
abacus,
closedBook,
openBook,
pageCurl,
pageFacingUp,
newspaper,
label,
leftMagnifyingGlass,
rightMagnifyingGlass,
candle,
electricLightBulb,
hammer,
axe,
daggerKnife,
pistol,
bowAndArrow,
shield,
wrench,
gear,
scales,
linkSymbol,
hook,
magnet,
compass,
testTube,
petriDish,
beaker,
flask,
dnaDoubleHelix,
microscope,
satelliteAntenna,
gyroscope,
syringe,
dropOfBlood,
pill,
elevator,
toilet,
basket,
u1FAE7,
shoppingTrolley,
shoppingBag,
rostrum,
smokingSymbol,
placard,
placard.alt,
torch,
u1FAAA,
restroom,
noEntrySign,
noSmokingSymbol,
noOneUnderEighteenSymbol,
radioactive,
biohazard,
directionsSign,
entry,
exit,
leftHookArrow,
rightHookArrow,
rightThenCurvingDownArrow,
rightThenCurvingUpArrow,
shuffleArrows,
repeatArrow,
leftArrow.circled,
rightArrow.circled,
rightBlackTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackRightTriangleWithDoubleVerticalBar,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
doubleVerticalBar,
blackSquareForStop,
blackCircleForRecord,
ejectsymbol,
antennaBars,
heavyDollarSign,
whiteHeavyCheckMark,
ballotBoxWithCheck,
blackCrossSquare,
checkmark.circled,
radioButton,
heartWhiteSuit,
heartBlackSuit,
heartWhiteSuit.circled,
heartBlackSuit.circled,
keycapNumberSign,
keycapAsterisk,
keycapDigitZero,
keycapDigitOne,
keycapDigitTwo,
keycapDigitThree,
keycapDigitFour,
keycapDigitFive,
keycapDigitSix,
keycapDigitSeven,
keycapDigitEight,
keycapDigitNine,
keycapTen,
keycapEleven,
keycapCommand,
keycapControl,
keycapFn,
keycapOption,
keycapReturn,
keycapShift,
keycapTab,
keycapWindows,
propellor,
optionKey,
inputLatinCapitalLetters,
inputLatinLowerLetters,
inputNumbers,
informationsource,
circledInformationSource,
Cool.box,
Ok.box,
"ko_ko-kata.box",
"secret-han.circled",
advantage.circle,
accept.circle,
uni8349.circled,
uni8279.circled,
uni7121.box,
uni7981.box,
uni6709.box,
uni5475.box,
uni54C8.box,
uni597D.box,
uni5F3A.box,
uni5F97.box,
uni8D5E.box,
circle,
whitesquare,
brokenHeart,
hundredPointsSymbol,
grassCaoSymbol,
bomb,
speechBalloon,
speechBalloonEmpty,
speechBalloonHeart,
speechBalloonInfo,
speechBalloonQuestion,
"eastWind-mahjong",
"southWind-mahjong",
"westWind-mahjong",
"northWind-mahjong",
"redDragon-mahjong",
"greenDragon-mahjong",
"whiteDragon-mahjong",
"oneOfCharacters-mahjong",
"twoOfCharacters-mahjong",
"threeOfCharacters-mahjong",
"fourOfCharacters-mahjong",
"fiveOfCharacters-mahjong",
"sixOfCharacters-mahjong",
"sevenOfCharacters-mahjong",
"eightOfCharacters-mahjong",
"nineOfCharacters-mahjong",
"oneOfBamboos-mahjong",
"oneOfBamboos-mahjong.ss02",
"twoOfBamboos-mahjong",
"threeOfBamboos-mahjong",
"fourOfBamboos-mahjong",
"fiveOfBamboos-mahjong",
"sixOfBamboos-mahjong",
"sevenOfBamboos-mahjong",
"eightOfBamboos-mahjong",
"nineOfBamboos-mahjong",
"oneOfCircles-mahjong",
"twoOfCircles-mahjong",
"threeOfCircles-mahjong",
"fourOfCircles-mahjong",
"fiveOfCircles-mahjong",
"sixOfCircles-mahjong",
"sevenOfCircles-mahjong",
"eightOfCircles-mahjong",
"nineOfCircles-mahjong",
"plum-mahjong",
"orchid-mahjong",
"bamboo-mahjong",
"chrysanthemum-mahjong",
"spring-mahjong",
"summer-mahjong",
"autumn-mahjong",
"winter-mahjong",
"joker-mahjong",
"back-mahjong",
adobeAfterEffects,
adobeAnimate,
adobeAudition,
adobeIllustrator,
adobeInDesign,
adobePhotoshop,
adobePremiere,
alipay,
android,
apple,
pearLogo,
anywayFm,
appStore,
atom,
bilibili,
boBlog,
buddy,
facebook,
facebook.alt,
figma,
finder,
github,
glyphs,
instagram,
neteaseMusic,
nintendoSwitch,
notion,
paypal,
playstation,
podcast,
qq,
sinaWeibo,
steam,
telegram,
telegram.alt,
tiktok,
twitter,
twitter.alt,
unicode,
unsplash,
wechat,
wechatMoments,
whatsApp,
windows,
windows.alt,
windows.alt2,
windows.alt3,
xiaohongshu,
xiaoyuzhou,
zhubai,
fileGraphics,
fileVector,
fileFont,
fileOtf,
fileTtf,
fileWoff,
fileWoff2,
languageCyrillic,
languageGreek,
languageHan,
languageHangul,
languageHebrew,
languageHira,
languageLatin,
languageThai,
translateArabicLatin,
translateCyrillicLatin,
translateGreekLatin,
translateHanLatin,
translateHangulLatin,
translateHebrewLatin,
translateHiraLatin,
translateThaiLatin,
translateLatinHan,
otfeatureAcps,
otfeatureC2sc,
otfeatureCalt,
otfeatureCcmp,
otfeatureDlig,
otfeatureFrac,
otfeatureFwid,
otfeatureHrzt,
otfeatureHwid,
otfeatureLiga,
otfeatureOnum,
otfeatureOrdn,
otfeatureSmcp,
otfeatureSs01,
otfeatureSs02,
otfeatureSs03,
otfeatureSubs,
otfeatureSups,
otfeatureVert,
otfeatureZero,
orthogon7x7,
orthogon7x9,
orthogon9x7,
orthogon9x9,
monospaced,
parallelogram,
lineGap,
lineHeight,
adjustments,
annotation,
appNotifacation,
arrowsMaximize,
arrowsMinimize,
bezier,
bigger,
smaller,
code,
contrast,
copies,
cube,
cursorArrow,
cursorText,
deviceRotate,
displayDotMatrix,
download,
duplicate,
filter,
grid,
gridDisabled,
gridEnabled,
hashtag,
invert,
locationPin,
menu,
diagonalCross,
mic,
micMv51,
pageGraphics,
revert,
rulerRightAngle,
scan,
share,
sizeEmoji,
sizeText,
textEdit,
viewGrid,
viewGrid.alt,
viewList,
webcam,
windowBrowser,
wireless,
zoomIn,
zoomOut,
slightlySmilingFace.filled,
upsideDownFace.filled,
slightlyFrowningFace.filled,
robot.filled,
thumbsUpSign.filled,
personWithFoldedHands.filled,
boy.filled,
girl.filled,
adult.filled,
bird.filled,
cherries.filled,
poultryLeg.filled,
cookie.filled,
wineGlass.filled,
cupWithStraw.filled,
hocho.filled,
automobile.filled,
deliveryTruck.filled,
alarmClock.filled,
stopwatch.filled,
clock.filled,
crescentMoon.filled,
blackSunWithRays.filled,
whiteMediumStar.filled,
balloon.filled,
videoGame.filled,
dieFace1.filled,
dieFace2.filled,
dieFace3.filled,
dieFace4.filled,
dieFace5.filled,
dieFace6.filled,
bell.filled,
bellWithCancellationStroke.filled,
microphone.filled,
headphone.filled,
saxophone.filled,
musicalKeyboard.filled,
battery.filled,
desktopComputer.filled,
keyboard.filled,
twoButtonMouse.filled,
floppyDisk.filled,
television.filled,
moneyBag.filled,
envelope.filled,
memo.filled,
addressBook.filled,
fileFolder.filled,
clipboard.filled,
pushpin.filled,
roundPushpin.filled,
blackScissors.filled,
lock.filled,
openLock.filled,
closedBook.filled,
pageCurl.filled,
pageFacingUp.filled,
label.filled,
leftMagnifyingGlass.filled,
rightMagnifyingGlass.filled,
electricLightBulb.filled,
hammer.filled,
axe.filled,
daggerKnife.filled,
pistol.filled,
wrench.filled,
gear.filled,
magnet.filled,
compass.filled,
testTube.filled,
beaker.filled,
flask.filled,
pill.filled,
elevator.filled,
restroom.filled,
noOneUnderEighteenSymbol.filled,
leftHookArrow.filled,
rightHookArrow.filled,
rightThenCurvingDownArrow.filled,
rightThenCurvingUpArrow.filled,
shuffleArrows.filled,
repeatArrow.filled,
leftArrow.circled.filled,
rightArrow.circled.filled,
rightBlackTriangle.filled,
blackRightDoubleTriangle.filled,
blackRightDoubleTriangleWithVerticalBar.filled,
blackRightTriangleWithDoubleVerticalBar.filled,
blackLeftDoubleTriangle.filled,
blackLeftDoubleTriangleWithVerticalBar.filled,
doubleVerticalBar.filled,
blackSquareForStop.filled,
blackCircleForRecord.filled,
ejectsymbol.filled,
antennaBars.filled,
whiteHeavyCheckMark.filled,
ballotBoxWithCheck.filled,
blackCrossSquare.filled,
checkmark.circled.filled,
heartWhiteSuit.circled.filled,
keycapNumberSign.filled,
keycapAsterisk.filled,
keycapDigitZero.filled,
keycapDigitOne.filled,
keycapDigitTwo.filled,
keycapDigitThree.filled,
keycapDigitFour.filled,
keycapDigitFive.filled,
keycapDigitSix.filled,
keycapDigitSeven.filled,
keycapDigitEight.filled,
keycapDigitNine.filled,
keycapTen.filled,
keycapEleven.filled,
keycapCommand.filled,
keycapControl.filled,
keycapFn.filled,
keycapOption.filled,
keycapReturn.filled,
keycapShift.filled,
keycapTab.filled,
keycapWindows.filled,
inputLatinCapitalLetters.filled,
inputLatinLowerLetters.filled,
inputNumbers.filled,
informationsource.filled,
circledInformationSource.filled,
Cool.box.filled,
Ok.box.filled,
"ko_ko-kata.box.filled",
"secret-han.circled.filled",
advantage.circle.filled,
accept.circle.filled,
uni8349.circled.filled,
uni8279.circled.filled,
uni7121.box.filled,
uni7981.box.filled,
uni6709.box.filled,
uni5475.box.filled,
uni54C8.box.filled,
uni597D.box.filled,
uni5F3A.box.filled,
uni5F97.box.filled,
uni8D5E.box.filled,
circle.filled,
brokenHeart.filled,
bomb.filled,
"redDragon-mahjong.filled",
"whiteDragon-mahjong.filled",
"twoOfBamboos-mahjong.filled",
"threeOfBamboos-mahjong.filled",
"fourOfBamboos-mahjong.filled",
"fiveOfBamboos-mahjong.filled",
"sixOfBamboos-mahjong.filled",
"sevenOfBamboos-mahjong.filled",
"eightOfBamboos-mahjong.filled",
"nineOfBamboos-mahjong.filled",
"oneOfCircles-mahjong.filled",
"twoOfCircles-mahjong.filled",
"threeOfCircles-mahjong.filled",
"fourOfCircles-mahjong.filled",
"fiveOfCircles-mahjong.filled",
"sixOfCircles-mahjong.filled",
"sevenOfCircles-mahjong.filled",
"eightOfCircles-mahjong.filled",
"nineOfCircles-mahjong.filled",
"back-mahjong.filled",
adobeAfterEffects.filled,
adobeAnimate.filled,
adobeAudition.filled,
adobeIllustrator.filled,
adobeInDesign.filled,
adobePhotoshop.filled,
adobePremiere.filled,
alipay.filled,
apple.filled,
pearLogo.filled,
appStore.filled,
glyphs.filled,
qq.filled,
unsplash.filled,
wechat.filled,
fileGraphics.filled,
fileVector.filled,
fileFont.filled,
fileOtf.filled,
fileTtf.filled,
fileWoff.filled,
fileWoff2.filled,
languageCyrillic.filled,
languageGreek.filled,
languageHan.filled,
languageHangul.filled,
languageHebrew.filled,
languageHira.filled,
languageLatin.filled,
languageThai.filled,
adjustments.filled,
code.filled,
contrast.filled,
copies.filled,
cursorArrow.filled,
duplicate.filled,
locationPin.filled,
pageGraphics.filled,
sizeText.filled,
wireless.filled,
zoomIn.filled,
zoomOut.filled,
slightlySmilingFace.small,
upsideDownFace.small,
u1FAE5.small,
squintSmilingFace.small,
slightlyFrowningFace.small,
alienMonster.small,
doge.small,
raisedBackOfHand.small,
raisedHand.small,
okHandSign.small,
eye.small,
boy.small,
girl.small,
adult.small,
catFace.small,
redApple.small,
cherries.small,
hamburger.small,
milkPackage.small,
hocho.small,
globeMeridians.small,
houseBuildings.small,
houseBuilding.small,
factory.small,
train.small,
automobile.small,
deliveryTruck.small,
anchor.small,
crescentMoon.small,
blackSunWithRays.small,
whiteMediumStar.small,
fire.small,
partyPopper.small,
videoGame.small,
gameDie.small,
dieFace1.small,
dieFace2.small,
dieFace3.small,
dieFace4.small,
dieFace5.small,
dieFace6.small,
jigsawPuzzlePiece.small,
topHat.small,
billedCap.small,
publicAddressLoudspeaker.small,
musicalNote.small,
mobilePhone.alt2.small,
battery.small,
u1FAAB.small,
desktopComputer.small,
twoButtonMouse.small,
floppyDisk.small,
filmFrames.small,
moneyBag.small,
envelope.small,
pencil.small,
memo.small,
addressBook.small,
briefcase.small,
fileFolder.small,
calendar.small,
clipboard.small,
pushpin.small,
roundPushpin.small,
paperclip.small,
closedBook.small,
openBook.small,
pageCurl.small,
pageFacingUp.small,
label.small,
leftMagnifyingGlass.small,
rightMagnifyingGlass.small,
electricLightBulb.small,
daggerKnife.small,
linkSymbol.small,
compass.small,
shoppingTrolley.small,
placard.small,
u1FAAA.small,
radioactive.small,
leftHookArrow.small,
rightHookArrow.small,
rightThenCurvingDownArrow.small,
rightThenCurvingUpArrow.small,
leftArrow.circled.small,
rightArrow.circled.small,
heavyDollarSign.small,
whiteHeavyCheckMark.small,
ballotBoxWithCheck.small,
blackCrossSquare.small,
checkmark.circled.small,
radioButton.small,
heartWhiteSuit.small,
heartBlackSuit.small,
heartWhiteSuit.circled.small,
heartBlackSuit.circled.small,
keycapNumberSign.small,
keycapAsterisk.small,
keycapDigitZero.small,
keycapDigitOne.small,
keycapDigitTwo.small,
keycapDigitThree.small,
keycapDigitFour.small,
keycapDigitFive.small,
keycapDigitSix.small,
keycapDigitSeven.small,
keycapDigitEight.small,
keycapDigitNine.small,
keycapTen.small,
keycapEleven.small,
keycapCommand.small,
keycapControl.small,
keycapFn.small,
keycapOption.small,
keycapReturn.small,
keycapShift.small,
keycapTab.small,
keycapWindows.small,
informationsource.small,
circledInformationSource.small,
circle.small,
whitesquare.small,
speechBalloon.small,
speechBalloonEmpty.small,
alipay.small,
apple.small,
pearLogo.small,
bilibili.small,
facebook.small,
facebook.alt.small,
finder.small,
github.small,
instagram.small,
neteaseMusic.small,
podcast.small,
sinaWeibo.small,
telegram.alt.small,
tiktok.small,
twitter.small,
twitter.alt.small,
unicode.small,
wechat.small,
wechatMoments.small,
windows.small,
languageCyrillic.small,
languageGreek.small,
languageHan.small,
languageHangul.small,
languageHebrew.small,
languageHira.small,
languageLatin.small,
languageThai.small,
lineGap.small,
lineHeight.small,
appNotifacation.small,
bezier.small,
bigger.small,
smaller.small,
code.small,
contrast.small,
copies.small,
cube.small,
cursorArrow.small,
cursorText.small,
displayDotMatrix.small,
download.small,
duplicate.small,
filter.small,
grid.small,
hashtag.small,
invert.small,
locationPin.small,
menu.small,
diagonalCross.small,
mic.small,
scan.small,
sizeEmoji.small,
sizeText.small,
textEdit.small,
viewGrid.small,
viewList.small,
webcam.small,
windowBrowser.small,
wireless.small,
zoomIn.small,
zoomOut.small,
slightlySmilingFace.small.filled,
upsideDownFace.small.filled,
slightlyFrowningFace.small.filled,
boy.small.filled,
girl.small.filled,
adult.small.filled,
hocho.small.filled,
deliveryTruck.small.filled,
alarmClock.small.filled,
stopwatch.small.filled,
clock.small.filled,
crescentMoon.small.filled,
blackSunWithRays.small.filled,
whiteMediumStar.small.filled,
dieFace1.small.filled,
dieFace2.small.filled,
dieFace3.small.filled,
dieFace4.small.filled,
dieFace5.small.filled,
dieFace6.small.filled,
battery.small.filled,
desktopComputer.small.filled,
keyboard.small.filled,
floppyDisk.small.filled,
envelope.small.filled,
memo.small.filled,
addressBook.small.filled,
fileFolder.small.filled,
clipboard.small.filled,
pushpin.small.filled,
roundPushpin.small.filled,
lock.small.filled,
openLock.small.filled,
closedBook.small.filled,
pageCurl.small.filled,
pageFacingUp.small.filled,
label.small.filled,
leftMagnifyingGlass.small.filled,
rightMagnifyingGlass.small.filled,
electricLightBulb.small.filled,
wrench.small.filled,
compass.small.filled,
elevator.small.filled,
restroom.small.filled,
leftHookArrow.small.filled,
rightHookArrow.small.filled,
rightThenCurvingDownArrow.small.filled,
rightThenCurvingUpArrow.small.filled,
leftArrow.circled.small.filled,
rightArrow.circled.small.filled,
whiteHeavyCheckMark.small.filled,
ballotBoxWithCheck.small.filled,
blackCrossSquare.small.filled,
checkmark.circled.small.filled,
heartWhiteSuit.circled.small.filled,
keycapNumberSign.small.filled,
keycapAsterisk.small.filled,
keycapDigitZero.small.filled,
keycapDigitOne.small.filled,
keycapDigitTwo.small.filled,
keycapDigitThree.small.filled,
keycapDigitFour.small.filled,
keycapDigitFive.small.filled,
keycapDigitSix.small.filled,
keycapDigitSeven.small.filled,
keycapDigitEight.small.filled,
keycapDigitNine.small.filled,
keycapTen.small.filled,
keycapEleven.small.filled,
keycapCommand.small.filled,
keycapControl.small.filled,
keycapFn.small.filled,
keycapOption.small.filled,
keycapReturn.small.filled,
keycapShift.small.filled,
keycapTab.small.filled,
keycapWindows.small.filled,
informationsource.small.filled,
circledInformationSource.small.filled,
circle.small.filled,
speechBalloon.small.filled,
speechBalloonEmpty.small.filled,
speechBalloonHeart.small.filled,
speechBalloonInfo.small.filled,
speechBalloonQuestion.small.filled,
alipay.small.filled,
apple.small.filled,
pearLogo.small.filled,
wechat.small.filled,
fileGraphics.small.filled,
fileVector.small.filled,
fileFont.small.filled,
fileOtf.small.filled,
fileTtf.small.filled,
fileWoff.small.filled,
fileWoff2.small.filled,
languageCyrillic.small.filled,
languageGreek.small.filled,
languageHan.small.filled,
languageHangul.small.filled,
languageHebrew.small.filled,
languageHira.small.filled,
languageLatin.small.filled,
languageThai.small.filled,
otfeatureAcps.small.filled,
otfeatureC2sc.small.filled,
otfeatureCalt.small.filled,
otfeatureCcmp.small.filled,
otfeatureDlig.small.filled,
otfeatureFrac.small.filled,
otfeatureFwid.small.filled,
otfeatureHrzt.small.filled,
otfeatureHwid.small.filled,
otfeatureLiga.small.filled,
otfeatureOnum.small.filled,
otfeatureOrdn.small.filled,
otfeatureSmcp.small.filled,
otfeatureSs01.small.filled,
otfeatureSs02.small.filled,
otfeatureSs03.small.filled,
otfeatureSubs.small.filled,
otfeatureSups.small.filled,
otfeatureVert.small.filled,
otfeatureZero.small.filled,
contrast.small.filled,
copies.small.filled,
cursorArrow.small.filled,
duplicate.small.filled,
locationPin.small.filled,
pageGraphics.small.filled,
sizeText.small.filled,
zoomIn.small.filled,
zoomOut.small.filled
);
}
);
date = "2021-08-25 07:43:53 +0000";
familyName = "Dinkie Icons";
fontMaster = (
{
customParameters = (
{
name = "Default Layer Width";
value = "120";
}
);
id = m01;
metricValues = (
{
pos = 100;
},
{
pos = 70;
},
{
pos = 50;
},
{
},
{
pos = -20;
}
);
name = Regular;
visible = 1;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
settings = {
disablesNiceNames = 1;
gridLength = 10;
keepAlternatesTogether = 1;
};
unitsPerEm = 120;
userData = {
GSDontShowVersionAlert = 1;
};
versionMajor = 1;
versionMinor = 0;
}
