{
.appVersion = "3217";
.formatVersion = 3;
customParameters = (
{
name = glyphOrder;
value = (
smilingFaceWithOpenMouth,
smilingFaceWithOpenMouthAndSmilingEyes,
smilingFaceWithOpenMouthAndColdSweat,
faceWithTearsOfJoy,
slightlySmilingFace,
upsideDownFace,
u1FAE0,
winkingFace,
smilingFaceWithHeartShapedEyes,
grinningFaceWithStarEyes,
faceThrowingAKiss,
grinningfacewithonelargeandoneeye,
faceWithStuckOutTongueAndTightlyClosedEyes,
moneyMouthFace,
byeFace,
palmFace,
peekFace,
thumbUpFace,
zipperMouthFace,
neutralFace,
expressionlessFace,
u1FAE5,
smirkingFace,
squintSmilingFace,
faceWithOpenMouth_zerowidthjoiner_dashSymbol,
questionFace,
largeQuestionFace,
faceEatingMelon,
sleepingFace,
faceWithMedicalMask,
faceWithHeadBandage,
faceWithOpenMouthVomiting,
dizzyFace,
shockedFaceWithExplodingHead,
faceSplit,
faceWithPartyHornAndPartyHat,
nerdFace,
u1FAE4,
slightlyFrowningFace,
astonishedFace,
faceWithPleadingEyes,
loudlyCryingFace,
faceScreamingInFear,
faceWithColdSweat,
cursingFace,
skull,
pileOfPoo,
ghost,
extraterrestrialAlien,
alienMonster,
robotFace,
robot,
doge,
raisedBackOfHand,
raisedHand,
okHandSign,
victoryHand,
whiteLeftBackhandIndex,
whiteRightBackhandIndex,
whiteUpBackhandIndex,
whiteDownBackhandIndex,
thumbsUpSign,
fistedHandSign,
clappingHandsSign,
handshake,
personWithFoldedHands,
fistPalmSalute,
writingHand,
eye,
mouth,
boy,
girl,
adult,
faceWithNoGoodGesture,
faceWithOkGesture,
informationDeskPerson,
happyPersonRaisingOneHand,
shrug,
dogFace,
catFace,
tigerFace,
horseFace,
cowFace,
pigFace,
rabbitFace,
bird,
swan,
javaSparrowWhite,
javaSparrowSilver,
frogFace,
turtle,
fish,
octopus,
crab,
bug,
spider,
microbe,
cherryBlossom,
rose,
wiltedFlower,
hibiscus,
sunflower,
seedling,
pottedPlant,
evergreenTree,
deciduousTree,
palmTree,
herb,
shamrock,
fourLeafClover,
grapes,
watermelon,
tangerine,
lemon,
banana,
pineapple,
mango,
redApple,
pear,
peach,
cherries,
strawberry,
tomato,
coconut,
carrot,
leafyGreen,
onion,
mushroom,
chestnut,
bread,
poultryLeg,
hamburger,
sliceOfPizza,
sandwich,
cookedRice,
steamingBowl,
softIceCream,
cookie,
birthdayCake,
shortcake,
hotBeverage,
wineGlass,
beerMug,
cupWithStraw,
milkPackage,
forkAndKnife,
fork,
hocho,
u1FAD9,
earthGlobeAsiaAustralia,
globeMeridians,
snowCappedMountain,
mountain,
volcano,
desertIsland,
buildingConstruction,
houseBuildings,
houseBuilding,
factory,
shintoShrine,
tent,
ferrisWheel,
railwayCar,
highSpeedTrain,
metro,
lightRail,
bus,
bus.alt,
trolleybus,
automobile,
anchor,
ship,
airplane,
helicopter,
suspensionRailway,
satellite,
rocket,
flyingSaucer,
hourglass,
hourglassWithFlowingSand,
watch,
alarmClock,
stopwatch,
clock,
newMoonSymbol,
waxingCrescentMoonSymbol,
firstQuarterMoonSymbol,
waxingGibbousMoonSymbol,
fullMoonSymbol,
waningGibbousMoonSymbol,
lastQuarterMoonSymbol,
waningCrescentMoonSymbol,
crescentMoon,
thermometer,
blackSunWithRays,
whiteMediumStar,
glowingStar,
cloud,
umbrella,
umbrellaOnGround,
highVoltageSign,
snowflake,
fire,
droplet,
christmasTree,
sparkles,
balloon,
partyPopper,
confettiBall,
ribbon,
wrappedPresent,
trophy,
podium,
kite,
magicWand,
videoGame,
joystick,
slotMachine,
gameDie,
dieFace1,
dieFace2,
dieFace3,
dieFace4,
dieFace5,
dieFace6,
jigsawPuzzlePiece,
jigsawPuzzle,
blackJokerCards,
artistPalette,
brush,
eyeglasses,
crown,
womansHat,
topHat,
graduationCap,
billedCap,
gemStone,
speakerWithCancellationStroke,
speaker,
speakerWithOneSoundWave,
speakerWithThreeSoundWaves,
publicAddressLoudspeaker,
bell,
bellWithCancellationStroke,
musicalScore,
musicalNote,
multipleMusicalNotes,
microphone,
headphone,
saxophone,
accordion,
guitar,
musicalKeyboard,
trumpet,
violin,
banjo,
drumWithDrumsticks,
mobilePhone,
mobilePhone.alt,
mobilePhone.alt2,
pager,
battery,
u1FAAB,
personalComputer,
desktopComputer,
keyboard,
twoButtonMouse,
threeButtonMouse,
threeButtonMouse.alt,
threeNetworkedComputers,
floppyDisk,
opticalDisc,
movieCamera,
filmFrames,
clapperBoard,
television,
camera,
moneyBag,
moneyBag.cny,
moneyBag.eur,
moneyBag.frf,
moneyBag.gbp,
moneyBag.usd,
envelope,
love,
closedMailboxRaisedFlag,
closedMailboxLoweredFlag,
openMailboxRaisedFlag,
openMailboxLoweredFlag,
pencil,
memo,
addressBook,
briefcase,
fileFolder,
calendar,
calendar.alt,
clipboard,
pushpin,
roundPushpin,
paperclip,
straightRuler,
triangularRuler,
blackScissors,
fileCabinet,
lock,
openLock,
abacus,
closedBook,
openBook,
pageCurl,
pageFacingUp,
newspaper,
label,
leftMagnifyingGlass,
rightMagnifyingGlass,
candle,
electricLightBulb,
hammer,
axe,
daggerKnife,
pistol,
bowAndArrow,
shield,
wrench,
gear,
scales,
linkSymbol,
hook,
magnet,
compass,
testTube,
petriDish,
beaker,
flask,
dnaDoubleHelix,
microscope,
satelliteAntenna,
gyroscope,
syringe,
dropOfBlood,
pill,
elevator,
toilet,
basket,
u1FAE7,
shoppingTrolley,
shoppingBag,
rostrum,
smokingSymbol,
placard,
placard.alt,
torch,
u1FAAA,
restroom,
noEntrySign,
noSmokingSymbol,
noOneUnderEighteenSymbol,
radioactive,
biohazard,
directionsSign,
entry,
exit,
leftHookArrow,
rightHookArrow,
rightThenCurvingDownArrow,
rightThenCurvingUpArrow,
shuffleArrows,
repeatArrow,
leftArrow.circled,
rightArrow.circled,
rightBlackTriangle,
blackRightDoubleTriangle,
blackRightDoubleTriangleWithVerticalBar,
blackRightTriangleWithDoubleVerticalBar,
blackLeftDoubleTriangle,
blackLeftDoubleTriangleWithVerticalBar,
doubleVerticalBar,
blackSquareForStop,
blackCircleForRecord,
ejectsymbol,
antennaBars,
heavyDollarSign,
whiteHeavyCheckMark,
ballotBoxWithCheck,
blackCrossSquare,
"circle-check",
heartWhiteSuit,
heartBlackSuit,
heartWhiteSuit.circled,
heartBlackSuit.circled,
keycapNumberSign,
keycapAsterisk,
keycapDigitZero,
keycapDigitOne,
keycapDigitTwo,
keycapDigitThree,
keycapDigitFour,
keycapDigitFive,
keycapDigitSix,
keycapDigitSeven,
keycapDigitEight,
keycapDigitNine,
keycapTen,
keycapEleven,
"keycap-command",
"keycap-control",
"keycap-fn",
"keycap-option",
"keycap-return",
"keycap-shift",
"keycap-tab",
"keycap-windows",
propellor,
optionKey,
inputLatinCapitalLetters,
inputLatinLowerLetters,
inputNumbers,
informationsource,
circledInformationSource,
Cool.box,
Ok.box,
"ko_ko-kata.box",
"secret-han.circled",
advantage.circle,
accept.circle,
uni8279.circled,
uni8349.circled,
uni7121.box,
uni7981.box,
uni6709.box,
uni5475.box,
uni54C8.box,
uni597D.box,
uni5F3A.box,
uni5F97.box,
uni8D5E.box,
circle,
whitesquare,
brokenHeart,
hundredPointsSymbol,
grassCaoSymbol,
bomb,
speechBalloon,
"speech-balloon-empty",
"speech-balloon-heart",
"speech-balloon-info",
"speech-balloon-question",
"eastWind-mahjong",
"southWind-mahjong",
"westWind-mahjong",
"northWind-mahjong",
"redDragon-mahjong",
"greenDragon-mahjong",
"whiteDragon-mahjong",
"oneOfCharacters-mahjong",
"twoOfCharacters-mahjong",
"threeOfCharacters-mahjong",
"fourOfCharacters-mahjong",
"fiveOfCharacters-mahjong",
"sixOfCharacters-mahjong",
"sevenOfCharacters-mahjong",
"eightOfCharacters-mahjong",
"nineOfCharacters-mahjong",
"oneOfBamboos-mahjong",
"oneOfBamboos-mahjong.ss02",
"twoOfBamboos-mahjong",
"threeOfBamboos-mahjong",
"fourOfBamboos-mahjong",
"fiveOfBamboos-mahjong",
"sixOfBamboos-mahjong",
"sevenOfBamboos-mahjong",
"eightOfBamboos-mahjong",
"nineOfBamboos-mahjong",
"oneOfCircles-mahjong",
"twoOfCircles-mahjong",
"threeOfCircles-mahjong",
"fourOfCircles-mahjong",
"fiveOfCircles-mahjong",
"sixOfCircles-mahjong",
"sevenOfCircles-mahjong",
"eightOfCircles-mahjong",
"nineOfCircles-mahjong",
"plum-mahjong",
"orchid-mahjong",
"bamboo-mahjong",
"chrysanthemum-mahjong",
"spring-mahjong",
"summer-mahjong",
"autumn-mahjong",
"winter-mahjong",
"joker-mahjong",
"back-mahjong",
adobeAfterEffects,
adobeAnimate,
adobeAudition,
adobeIllustrator,
adobeInDesign,
adobePhotoshop,
adobePremiere,
alipay,
android,
apple,
"pear-logo",
anyway,
appStore,
atom,
bilibili,
"bo-blog",
buddy,
facebook,
figma,
finder,
github,
glyphs,
instagram,
"netease-music",
nintendoSwitch,
notion,
paypal,
playstation,
podcast,
qq,
"sina-weibo",
steam,
telegram,
"paper-plane",
tiktok,
twitter,
twitter.alt,
unicode,
unsplash,
"wechat-moments",
wechat,
whatsApp,
windows,
windows.alt,
windows.alt2,
windows.alt3,
xiaohongshu,
xiaoyuzhou,
zhubai,
"orthogon-7-by-7",
"orthogon-7-by-9",
"orthogon-9-by-7",
"orthogon-9-by-9",
"monospaced-I",
parallelogram,
"line-gap",
"line-height",
fileGraphics,
fileVector,
fileFont,
fileOtf,
fileTtf,
fileWoff,
fileWoff2,
pageGraphics,
adjustments,
annotation,
"arrows-maximize",
"arrows-minimize",
bigger,
smaller,
contrast,
copies,
duplicate,
"device-rotate",
"display-dot-matrix",
download,
filter,
grid,
"grid-enabled",
"grid-disabled",
invert,
"revert-A",
"size-A",
"size-emoji",
"text-edit",
share,
"translate-arabic-latin",
"translate-cyrillic-latin",
"translate-greek-latin",
"translate-han-latin",
"translate-hangul-latin",
"translate-hebrew-latin",
"translate-hira-latin",
"translate-thai-latin",
"translate-latin-han",
"view-grid",
"view-grid.alt",
"view-list",
"zoom-in",
"zoom-out",
"app-notifacation",
bezier,
code,
cube,
hashtag,
"location-pin",
"ruler-right-angle",
"window-browser",
"cursor-arrow",
"cursor-text",
mic,
micMv51,
scan,
webcam,
wireless,
"otfeature-acps",
"otfeature-c2sc",
"otfeature-calt",
"otfeature-ccmp",
"otfeature-dlig",
"otfeature-frac",
"otfeature-fwid",
"otfeature-hrzt",
"otfeature-hwid",
"otfeature-liga",
"otfeature-onum",
"otfeature-ordn",
"otfeature-smcp",
"otfeature-ss01",
"otfeature-ss02",
"otfeature-ss03",
"otfeature-subs",
"otfeature-sups",
"otfeature-vert",
"otfeature-zero",
slightlySmilingFace.filled,
upsideDownFace.filled,
slightlyFrowningFace.filled,
robot.filled,
thumbsUpSign.filled,
personWithFoldedHands.filled,
boy.filled,
girl.filled,
adult.filled,
bird.filled,
cherries.filled,
poultryLeg.filled,
cookie.filled,
wineGlass.filled,
cupWithStraw.filled,
hocho.filled,
automobile.filled,
alarmClock.filled,
stopwatch.filled,
clock.filled,
blackSunWithRays.filled,
whiteMediumStar.filled,
balloon.filled,
videoGame.filled,
dieFace1.filled,
dieFace2.filled,
dieFace3.filled,
dieFace4.filled,
dieFace5.filled,
dieFace6.filled,
bell.filled,
bellWithCancellationStroke.filled,
microphone.filled,
headphone.filled,
saxophone.filled,
musicalKeyboard.filled,
battery.filled,
desktopComputer.filled,
keyboard.filled,
twoButtonMouse.filled,
floppyDisk.filled,
television.filled,
moneyBag.filled,
envelope.filled,
memo.filled,
addressBook.filled,
fileFolder.filled,
clipboard.filled,
pushpin.filled,
roundPushpin.filled,
blackScissors.filled,
lock.filled,
openLock.filled,
closedBook.filled,
pageCurl.filled,
pageFacingUp.filled,
label.filled,
leftMagnifyingGlass.filled,
rightMagnifyingGlass.filled,
electricLightBulb.filled,
hammer.filled,
axe.filled,
daggerKnife.filled,
pistol.filled,
wrench.filled,
gear.filled,
magnet.filled,
compass.filled,
testTube.filled,
beaker.filled,
flask.filled,
pill.filled,
elevator.filled,
restroom.filled,
noOneUnderEighteenSymbol.filled,
leftHookArrow.filled,
rightHookArrow.filled,
rightThenCurvingDownArrow.filled,
rightThenCurvingUpArrow.filled,
shuffleArrows.filled,
repeatArrow.filled,
leftArrow.circled.filled,
rightArrow.circled.filled,
rightBlackTriangle.filled,
blackRightDoubleTriangle.filled,
blackRightDoubleTriangleWithVerticalBar.filled,
blackRightTriangleWithDoubleVerticalBar.filled,
blackLeftDoubleTriangle.filled,
blackLeftDoubleTriangleWithVerticalBar.filled,
doubleVerticalBar.filled,
blackSquareForStop.filled,
blackCircleForRecord.filled,
ejectsymbol.filled,
antennaBars.filled,
whiteHeavyCheckMark.filled,
ballotBoxWithCheck.filled,
blackCrossSquare.filled,
"circle-check.filled",
heartWhiteSuit.circled.filled,
keycapNumberSign.filled,
keycapAsterisk.filled,
keycapDigitZero.filled,
keycapDigitOne.filled,
keycapDigitTwo.filled,
keycapDigitThree.filled,
keycapDigitFour.filled,
keycapDigitFive.filled,
keycapDigitSix.filled,
keycapDigitSeven.filled,
keycapDigitEight.filled,
keycapDigitNine.filled,
keycapTen.filled,
keycapEleven.filled,
"keycap-command.filled",
"keycap-control.filled",
"keycap-fn.filled",
"keycap-option.filled",
"keycap-return.filled",
"keycap-shift.filled",
"keycap-tab.filled",
"keycap-windows.filled",
inputLatinCapitalLetters.filled,
inputLatinLowerLetters.filled,
inputNumbers.filled,
informationsource.filled,
circledInformationSource.filled,
Cool.box.filled,
Ok.box.filled,
"ko_ko-kata.box.filled",
"secret-han.circled.filled",
advantage.circle.filled,
accept.circle.filled,
uni8279.circled.filled,
uni8349.circled.filled,
uni7121.box.filled,
uni7981.box.filled,
uni6709.box.filled,
uni5475.box.filled,
uni54C8.box.filled,
uni597D.box.filled,
uni5F3A.box.filled,
uni5F97.box.filled,
uni8D5E.box.filled,
circle.filled,
brokenHeart.filled,
bomb.filled,
"redDragon-mahjong.filled",
"whiteDragon-mahjong.filled",
"twoOfBamboos-mahjong.filled",
"threeOfBamboos-mahjong.filled",
"fourOfBamboos-mahjong.filled",
"fiveOfBamboos-mahjong.filled",
"sixOfBamboos-mahjong.filled",
"sevenOfBamboos-mahjong.filled",
"eightOfBamboos-mahjong.filled",
"nineOfBamboos-mahjong.filled",
"oneOfCircles-mahjong.filled",
"twoOfCircles-mahjong.filled",
"threeOfCircles-mahjong.filled",
"fourOfCircles-mahjong.filled",
"fiveOfCircles-mahjong.filled",
"sixOfCircles-mahjong.filled",
"sevenOfCircles-mahjong.filled",
"eightOfCircles-mahjong.filled",
"nineOfCircles-mahjong.filled",
"back-mahjong.filled",
adobeAfterEffects.filled,
adobeAnimate.filled,
adobeAudition.filled,
adobeIllustrator.filled,
adobeInDesign.filled,
adobePhotoshop.filled,
adobePremiere.filled,
alipay.filled,
apple.filled,
"pear-logo.filled",
appStore.filled,
glyphs.filled,
qq.filled,
unsplash.filled,
wechat.filled,
fileGraphics.filled,
fileVector.filled,
fileFont.filled,
fileOtf.filled,
fileTtf.filled,
fileWoff.filled,
fileWoff2.filled,
pageGraphics.filled,
adjustments.filled,
contrast.filled,
copies.filled,
duplicate.filled,
"size-A.filled",
"zoom-in.filled",
"zoom-out.filled",
code.filled,
"location-pin.filled",
"cursor-arrow.filled",
wireless.filled,
slightlySmilingFace.small,
upsideDownFace.small,
u1FAE5.small,
squintSmilingFace.small,
slightlyFrowningFace.small,
alienMonster.small,
doge.small,
raisedBackOfHand.small,
raisedHand.small,
okHandSign.small,
eye.small,
boy.small,
girl.small,
adult.small,
catFace.small,
redApple.small,
cherries.small,
hamburger.small,
milkPackage.small,
hocho.small,
globeMeridians.small,
houseBuildings.small,
houseBuilding.small,
factory.small,
automobile.small,
anchor.small,
blackSunWithRays.small,
whiteMediumStar.small,
fire.small,
partyPopper.small,
videoGame.small,
gameDie.small,
dieFace1.small,
dieFace2.small,
dieFace3.small,
dieFace4.small,
dieFace5.small,
dieFace6.small,
jigsawPuzzlePiece.small,
topHat.small,
billedCap.small,
publicAddressLoudspeaker.small,
musicalNote.small,
mobilePhone.alt2.small,
battery.small,
u1FAAB.small,
desktopComputer.small,
twoButtonMouse.small,
floppyDisk.small,
filmFrames.small,
moneyBag.small,
envelope.small,
pencil.small,
memo.small,
addressBook.small,
briefcase.small,
fileFolder.small,
calendar.small,
clipboard.small,
pushpin.small,
roundPushpin.small,
paperclip.small,
closedBook.small,
openBook.small,
pageCurl.small,
pageFacingUp.small,
label.small,
leftMagnifyingGlass.small,
rightMagnifyingGlass.small,
electricLightBulb.small,
daggerKnife.small,
linkSymbol.small,
compass.small,
shoppingTrolley.small,
placard.small,
u1FAAA.small,
radioactive.small,
leftHookArrow.small,
rightHookArrow.small,
rightThenCurvingDownArrow.small,
rightThenCurvingUpArrow.small,
leftArrow.circled.small,
rightArrow.circled.small,
heavyDollarSign.small,
whiteHeavyCheckMark.small,
ballotBoxWithCheck.small,
blackCrossSquare.small,
"circle-check.small",
heartWhiteSuit.small,
heartBlackSuit.small,
heartWhiteSuit.circled.small,
heartBlackSuit.circled.small,
keycapNumberSign.small,
keycapAsterisk.small,
keycapDigitZero.small,
keycapDigitOne.small,
keycapDigitTwo.small,
keycapDigitThree.small,
keycapDigitFour.small,
keycapDigitFive.small,
keycapDigitSix.small,
keycapDigitSeven.small,
keycapDigitEight.small,
keycapDigitNine.small,
keycapTen.small,
keycapEleven.small,
"keycap-command.small",
"keycap-control.small",
"keycap-fn.small",
"keycap-option.small",
"keycap-return.small",
"keycap-shift.small",
"keycap-tab.small",
"keycap-windows.small",
informationsource.small,
circledInformationSource.small,
circle.small,
whitesquare.small,
speechBalloon.small,
"speech-balloon-empty.small",
alipay.small,
apple.small,
"pear-logo.small",
bilibili.small,
facebook.small,
finder.small,
github.small,
instagram.small,
"netease-music.small",
podcast.small,
"sina-weibo.small",
"paper-plane.small",
tiktok.small,
twitter.small,
twitter.alt.small,
unicode.small,
"wechat-moments.small",
wechat.small,
windows.small,
"line-gap.small",
"line-height.small",
bigger.small,
smaller.small,
contrast.small,
copies.small,
duplicate.small,
"display-dot-matrix.small",
download.small,
filter.small,
invert.small,
"size-A.small",
"size-emoji.small",
"text-edit.small",
"view-grid.small",
"view-list.small",
"zoom-in.small",
"zoom-out.small",
"app-notifacation.small",
bezier.small,
code.small,
cube.small,
hashtag.small,
"location-pin.small",
"window-browser.small",
"cursor-arrow.small",
"cursor-text.small",
mic.small,
scan.small,
webcam.small,
wireless.small,
slightlySmilingFace.small.filled,
upsideDownFace.small.filled,
slightlyFrowningFace.small.filled,
boy.small.filled,
girl.small.filled,
adult.small.filled,
hocho.small.filled,
alarmClock.small.filled,
stopwatch.small.filled,
clock.small.filled,
whiteMediumStar.small.filled,
dieFace1.small.filled,
dieFace2.small.filled,
dieFace3.small.filled,
dieFace4.small.filled,
dieFace5.small.filled,
dieFace6.small.filled,
battery.small.filled,
desktopComputer.small.filled,
keyboard.small.filled,
floppyDisk.small.filled,
envelope.small.filled,
memo.small.filled,
addressBook.small.filled,
fileFolder.small.filled,
clipboard.small.filled,
pushpin.small.filled,
roundPushpin.small.filled,
lock.small.filled,
openLock.small.filled,
closedBook.small.filled,
pageCurl.small.filled,
pageFacingUp.small.filled,
label.small.filled,
leftMagnifyingGlass.small.filled,
rightMagnifyingGlass.small.filled,
electricLightBulb.small.filled,
wrench.small.filled,
elevator.small.filled,
restroom.small.filled,
leftHookArrow.small.filled,
rightHookArrow.small.filled,
rightThenCurvingDownArrow.small.filled,
rightThenCurvingUpArrow.small.filled,
leftArrow.circled.small.filled,
rightArrow.circled.small.filled,
whiteHeavyCheckMark.small.filled,
ballotBoxWithCheck.small.filled,
blackCrossSquare.small.filled,
"circle-check.small.filled",
heartWhiteSuit.circled.small.filled,
keycapNumberSign.small.filled,
keycapAsterisk.small.filled,
keycapDigitZero.small.filled,
keycapDigitOne.small.filled,
keycapDigitTwo.small.filled,
keycapDigitThree.small.filled,
keycapDigitFour.small.filled,
keycapDigitFive.small.filled,
keycapDigitSix.small.filled,
keycapDigitSeven.small.filled,
keycapDigitEight.small.filled,
keycapDigitNine.small.filled,
keycapTen.small.filled,
keycapEleven.small.filled,
"keycap-command.small.filled",
"keycap-control.small.filled",
"keycap-fn.small.filled",
"keycap-option.small.filled",
"keycap-return.small.filled",
"keycap-shift.small.filled",
"keycap-tab.small.filled",
"keycap-windows.small.filled",
informationsource.small.filled,
circledInformationSource.small.filled,
circle.small.filled,
speechBalloon.small.filled,
"speech-balloon-empty.small.filled",
"speech-balloon-heart.small.filled",
"speech-balloon-info.small.filled",
"speech-balloon-question.small.filled",
alipay.small.filled,
apple.small.filled,
"pear-logo.small.filled",
wechat.small.filled,
fileGraphics.small.filled,
fileVector.small.filled,
fileFont.small.filled,
fileOtf.small.filled,
fileTtf.small.filled,
fileWoff.small.filled,
fileWoff2.small.filled,
pageGraphics.small.filled,
contrast.small.filled,
copies.small.filled,
duplicate.small.filled,
"size-A.small.filled",
"zoom-in.small.filled",
"zoom-out.small.filled",
"location-pin.small.filled",
"cursor-arrow.small.filled",
"otfeature-acps.small.filled",
"otfeature-c2sc.small.filled",
"otfeature-calt.small.filled",
"otfeature-ccmp.small.filled",
"otfeature-dlig.small.filled",
"otfeature-frac.small.filled",
"otfeature-fwid.small.filled",
"otfeature-hrzt.small.filled",
"otfeature-hwid.small.filled",
"otfeature-liga.small.filled",
"otfeature-onum.small.filled",
"otfeature-ordn.small.filled",
"otfeature-smcp.small.filled",
"otfeature-ss01.small.filled",
"otfeature-ss02.small.filled",
"otfeature-ss03.small.filled",
"otfeature-subs.small.filled",
"otfeature-sups.small.filled",
"otfeature-vert.small.filled",
"otfeature-zero.small.filled"
);
}
);
date = "2021-08-25 07:43:53 +0000";
familyName = "Dinkie Icons";
fontMaster = (
{
customParameters = (
{
name = "Default Layer Width";
value = "120";
}
);
id = m01;
metricValues = (
{
pos = 100;
},
{
pos = 70;
},
{
pos = 50;
},
{
},
{
pos = -20;
}
);
name = Regular;
visible = 1;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
settings = {
disablesNiceNames = 1;
gridLength = 10;
keepAlternatesTogether = 1;
};
unitsPerEm = 120;
userData = {
GSDontShowVersionAlert = 1;
};
versionMajor = 1;
versionMinor = 0;
}
